@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
*{
  margin:0;
  padding:0;
  text-decoration:none;
  list-style:none;
  font-family: 'Exo';
}

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-Light.woff2') format('woff2'),
        url('../fonts/Exo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-ExtraBold.woff2') format('woff2'),
        url('../fonts/Exo-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-Medium.woff2') format('woff2'),
        url('../fonts/Exo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-Bold.woff2') format('woff2'),
        url('../fonts/Exo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-SemiBold.woff2') format('woff2'),
        url('../fonts/Exo-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-Regular.woff2') format('woff2'),
        url('../fonts/Exo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-Black.woff2') format('woff2'),
        url('../fonts/Exo-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}





/* Scroll Bar Css Starts */
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 20px;
  border-radius: 0;
  background: #292929;
  border: 2px solid #ffffff;
  width: 8px;
}
::-webkit-scrollbar-thumb:active {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #616161;
}
/* Scroll Bar Css Ends */


/*Comman Css*/
a:hover,
a:focus,
a:active{
  text-decoration: none;
}
ol, ul{
  margin: 0;
  padding: 0;
}
img{
  display: block;
}
body{
  font-size: 14px;
  font-weight: normal;
  font-family: 'Exo';
  color: #000;
  text-decoration: none;
  scroll-behavior: smooth;
}
p{
  font-size: 18px;
  font-weight: normal;
  color: #9f9f9f;
  line-height: 24px;
}


@media(min-width:992px){
  /*.product-wrapper>.row>.col-md-3:nth-child(4n+1){
    clear: left;
  }*/
}

.btn-main{
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  display: table;
  width: 100%;
  z-index: 1;
  padding: 16px 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  border: none;
  transition: all 0.4s ease;
  background-color: #3368e7;
}
.btn-main:focus,
.btn-main:hover{
  color: #fff;
  background-color: #333;
}
/*End Comman Css*/

/* Navigation*/ 
.navbar{
  position: absolute;
  width: 100%;
  height: 78px;
  left: 0;
  top: 0;
  height: 104px;
  border: none;
  margin:0;
  padding: 0px 0px;
  z-index: 120;
  background: transparent;
}
.navbar-brand{
  padding: 0;
  height: auto;
}
.navbar-brand img{
  width: auto;
}
.navbar .navbar-collapse{
  padding: 0;
}
.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand{
  margin-left: 0;
}
.navbar .navbar-nav{
  margin: 0 auto;
  position: relative;
}
.navbar:after{
  content: '';
  position: absolute;
  width: 814px;
  height: 2px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  background-image: url('../images/shape/line-nv.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.navbar .nav-right{
  float: right;
  margin: 0;
}
.navbar .navbar-nav>li{
  padding: 40px 0;
  margin-right: 0px;
  position: relative;
  text-align: center;
}
.navbar .navbar-nav>li:last-child{
    margin-right: 0;
}
.navbar .navbar-nav>li:last-child a{
    border-right: 0;
}
.navbar .navbar-nav>li>a{
  align-items: center;
  display: block;
  color: #fff;
  padding: 0 12px;
  border-radius: 0;
  border: none;
  position: relative;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  -webkit-transition: .4s linear;
  -moz-transition: .4s linear;
  -ms-transition: .4s linear;
  transition: .4s linear;
}
.navbar .navbar-nav>li>a:hover{
  color: rgba(255,255,255,0.6);
}
.navbar-expand-md .navbar-nav .nav-link{
  padding: 0 26px;
}
.navbar .navbar-nav>li.auc-main>a{
  font-size: 12px;
  font-weight: 500;
  min-width: 185px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 2px solid #5d76ff;
  background-color: transparent;
  background-size: 100% 100%;
  background-position: center;
}
.navbar .navbar-nav>li.auc-main>a:hover{
  background-color: #5d76ff;
}

.navbar .navbar-nav>.open>a,
.navbar .navbar-nav>.open>a:focus,
.navbar .navbar-nav>.open>a:hover,
.navbar .navbar-nav>li>a:focus,
.navbar.navbar-nav>li>a:hover{
  color: #f2f2f2;
  background-color: transparent;
}
.navbar .navbar-nav>.active>a,
.navbar .navbar-nav>.active>a:focus,
.navbar .navbar-nav>.active>a:hover{
  color: #f2f2f2;
  border-radius: 0;
  background-color: transparent;
}

.navbar-nav>li.dropdown>a:after{
  content: '';
  position: relative;
  width: 10px;
  height: 5px;
  display: inline-block;
  margin-left: 5px;
  right: 0;
  top: 1px;
  border: none;
  background-image: url('../images/icons/nv-drop.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.navbar-nav>li>.dropdown-menu{
  padding: 10px 0;
  left: 50%;
  margin-left: -80px;
  border-radius: 10px;
  -webkit-transition: .4s linear;
  -moz-transition: .4s linear;
  -ms-transition: .4s linear;
  transition: .4s linear;
  background-color: #fff;
  border-color: #ddd;
}
.navbar-nav>li>.dropdown-menu a{
  font-size: 13px;
  font-weight: 500;
  padding: 5px 15px;
  color: #fff;
  -webkit-transition: .4s linear;
  -moz-transition: .4s linear;
  -ms-transition: .4s linear;
  transition: .4s linear;
}
.navbar-nav>li>.dropdown-menu a:focus,
.navbar-nav>li>.dropdown-menu a:hover{
  background-color: transparent;
  color: #f2f2f2;
}

/* Toggle */
.navbar-toggler{
  border: 2px solid #33daf5;
  margin-right: 15px;
  display: flex;
  padding: 10px;
  transition: all 0.4s ease;
  flex-flow: column;
}
.navbar-toggler:focus,
.navbar-toggler:hover{
  outline: none;
}
.navbar-toggler .navbar-toggler-icon{
  width: 30px;
  height: 2px;
  margin-bottom: 6px;
  background-color: #33daf5;
  transition: all 0.4s ease;
}
.navbar-toggler .navbar-toggler-icon:last-child{
  margin-bottom: 0;
}
/*End Navigation*/

/*Index*/
/*Banner*/
.banner-container{
  width: 100%;
  display: block;
  padding: 100px 0 50px;
  position: relative;
  background-image: url('../images/banner-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner-wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.banner-details{
  width: 100%;
  display: block;
  text-align: center;
}
.banner-details h1{
  font-size: 65px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin: 0 0 30px;
}
.banner-details p{
  font-size: 18px;
  font-weight: 500;
  color: #5c617b;
  text-align: center;
  margin: 0 0 50px;
}
.banner-details .it-txt{
  font-style: italic;
}
.banner-details ul{
  display: table;
  margin: 0 auto 28px;
}
.banner-details ul li{
  float: left;
  margin-right: 20px;
}
.banner-details ul li .btn-main{
  min-width: 185px;
  height: 50px;
  box-shadow: 5px 0 12px rgba(93,118,255,0.35);
}

.banner-info-wrapper{
  width: 100%;
  display: block;
}
.banner-info-blk{
  width: 100%;
  display: block;
  z-index: 1;
  position: relative;
}
.banner-info-blk:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../images/shape/bn-bg-shape.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.banner-info-left:before{
  top: -60px;
  left: -37px;
  height: 125%;
  width: 107%;
  transform: rotate(21deg);
}
.banner-info-center:before{
  top: -50px;
  transform: rotate(16deg);
  width: 93%;
  height: 128%;
  left: 12px;
}
.banner-info-right:before{
  top: -50px;
  left: auto;
  right: -35px;
  height: 128%;
  transform: rotate(13deg);
}
.banner-info{
  width: 100%;
  display: block;
  padding: 60px 30px;
  position: relative;
  z-index: 1;
  border-radius: 6px;
  background-color: #fff;
}
.banner-info .bn-icon{
  position: absolute;
  width: 62px;
  height: 62px;
  top: -30px;
  left: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: #3268e7;
  box-shadow: 5px 0 12px rgba(93, 118, 255, 0.35);
}
.banner-info h4{
  font-size: 25px;
  font-weight: bold;
  color: #191f39;
  margin: 0 auto 20px;
}
.banner-info p{
  font-size: 16px;
  font-weight: 500;
  color: #191f39;
  line-height: 30px;
  margin: 0;
}
/*Banner End*/
/*About Us*/
.about-us{
  width: 100%;
  display: block;
  padding: 150px 0 50px;
}
.about-wrapper{
  width: 100%;
  display: block;
}
.about-tabs{
  width: 100%;
  display: block;
}
.about-tabs .nav-tabs{
  border: none;
  transition: all 0.4s ease;
  padding: 0 10px;
}
.about-tabs .nav-item{
  border: none;
  margin-bottom: -4px;
}
.about-tabs .nav-item .nav-link{
  position: relative;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  display: flex;
  transition: all 0.4s ease;
  align-items: center;
  justify-content: center;
}
.about-tabs .nav-item .nav-link:after{
  content: '';
  position: relative;
  width: 19px;
  height: 25px;
  top: -2px;
  border-radius: 15px;
  background-image: url('../images/icons/so-ic-nr.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.about-tabs .nav-item .nav-link.active:after{
  background-image: url('../images/icons/so-ic-ac.png');
}
.about-tabs .nav-item .nav-link.active{
  width: 98px;
  border: none;
  transition: all 0.4s ease;
  background-color: transparent;
}
.about-tabs .nav-item .nav-link:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  background-image: url('../images/shape/tabe-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.about-tabs .nav-item .nav-link.active:before{
  opacity: 1;
}

.about-content{
  transition: all 0.4s ease;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
}
.about-content h4{
  font-size: 25px;
  font-weight: bold;
  color: #191f39;
  margin: 0 0 35px;
}
.about-content p{
  font-size: 16px;
  font-weight: 500;
  color: #191f39;
  margin: 0 0 20px;
}

.about-details{
  width: 100%;
  padding-right: 50px;
  display: block;
}
.about-details h4{
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin: 0 0 30px;
}
.about-details p{
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 40px;
}
/*About Us End*/
/*Join Us*/
.join-us{
  width: 100%;
  display: block;
  margin: 50px 0 100px;
}
.join-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 65px 0;
  background-image: url('../images/join-banner.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.join-details{
  width: 550px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  align-items: center;
  text-align: center;
}
.join-details h4{
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  margin: 0 0 20px;
}
.join-details p{
  font-size: 18px;
  font-weight: normal;
  color: #5c617b;
  line-height: 36px;
  margin: 0 0 30px;
}
.join-details ul{
  display: table;
  margin: 0 auto;
}
.join-details ul li{
  float: left;
  margin-right: 10px;
}
.join-details ul li a i{
  margin-right: 5px;
  font-size: 15px;
}
.join-details ul li a i.fa-paper-plane{
  font-size: 12px;
}
.join-details .btn-main{
  box-shadow: 5px 0 12px rgba(93, 118, 255, 0.35);
  width: 186px;
}
/*Join Us End*/
/*Footer*/
footer{
  width: 100%;
  display: block;
}
.footer-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
}
.footer-wrapper .footer-logo{
  float: left;
  width: 20%;
}
.footer-wrapper .footer-logo a img{
  display: block;
  max-width: 100%;
}
.footer-wrapper .footer-nav{
  width: 60%;
  float: left;
}
.footer-wrapper .footer-btn{
  width: 20%;
  display: flex;
  justify-content: flex-end;
  float: left;
}
.footer-wrapper .auc-main{
  width: 197px;
  height: 44px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: #fff;
  transition: all 0.4s ease;
  border: 2px solid #5d76ff;
}
.footer-wrapper .auc-main:hover{
  color: #fff;
  background-color: #5d76ff;
}

.footer-company{
  width: 100%;
  display: block;
}
.footer-company a{
  display: table;
  margin: 40px auto 25px;
}

.footer-nav{
  display: flex;
  align-items: center;
}
.footer-nav ul{
  display: table;
  margin: 35px auto 25px;
  position: relative;
}
.footer-nav ul:after{
  content: '';
  position: absolute;
  width: 814px;
  height: 2px;
  left: 50%;
  bottom: -35px;
  transform: translate(-50%, 0);
  background-image: url('../images/shape/line-nv.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.footer-nav li{
  float: left;
  margin-right: 60px;
}
.footer-nav li:last-child{
  margin-right: 0;
}
.footer-nav li a{
  color: #fff;
  transition: all 0.4s ease;
}
.footer-nav li a:hover{
  opacity: 0.4;
}
/*Footer End*/
/*Index End*/

/*Inner Pages*/
/*Inner Nav*/

/*Inner Nav End*/

.stake-inner{
  width: 100%;
  display: block;
  padding: 100px 0 50px;
}
.stake-wrapper{
  width: 100%;
  display: block;
}
.stake-main{
  width: 100%;
  display: block;
  padding: 36px 40px;
  background-color: #171b6e;
  border-radius: 20px;
}
.stake-tabs .nav-tabs{
  margin: 10px auto;
  border: none;
  justify-content: center;
}
.stake-tabs .nav-tabs .nav-link{
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin: 0;
  padding: 18px 20px;
  opacity: 0.75;
}
.stake-tabs .nav-tabs .nav-link,
.stake-tabs .nav-tabs .nav-item.show .nav-link{
  background-color: transparent;
  border: none;
}
.stake-tabs .nav-tabs .nav-link.active{
  opacity: 1;
  color: #fff;
}

.stake-table-head{
  width: 100%;
  display: table;
  margin-bottom: 40px;
}
.stake-table-head h5{
  float: left;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  line-height: 32px;
  margin: 0;
}
.stake-table-head .btn-main{
  float: right;
  width: 169px;
  font-size: 11px;
  padding: 7px 10px;
  border-radius: 6px;
  background-color: #5d76ff;
}
.stake-table-head .btn-main:hover{
  background-color: #333;
}

.stake-table{
  width: 100%;
  display: block;
}
.dt-responsive>.row,
.form-inline>.row{
  width: 100%!important;
}
.stake-table .table{
  width: 100%;
  display: block;
  margin-bottom: 0;
}
.stake-table .table>tbody>tr>td,
.stake-table .table>thead>tr>th{
  border: none;
  font-size: 12px;
}
.stake-table .table>thead>tr,
.stake-table .table>tbody>tr{
  border-bottom: 2px solid #2a2e88;
}
.stake-table .table>tbody>tr:last-child{
  border-bottom: none;
}
.stake-table span{
  display: inline-block;
}
.stake-table .table>tbody>tr>td,
.stake-table .table>tbody>tr>th,
.stake-table .table>tfoot>tr>td,
.stake-table .table>tfoot>tr>th,
.stake-table .table>thead>tr>td,
.stake-table .table>thead>tr>th{
  padding: 12px;
  font-weight: 600;
  line-height: 30px;
  border-top: 0px;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.stake-table .table>thead>tr>th{
  color: #8d90c5;
  width: auto!important;
}
.dataTables_length{
  display: none;
}
.stake-table table.dataTable thead .sorting:after,
.stake-table table.dataTable thead .sorting_asc:after,
.stake-table table.dataTable thead .sorting_desc:after,
.stake-table div.dataTables_length,
.stake-table div.dataTables_filter,
.stake-table div.dataTables_info,
.stake-table div.dataTables_paginate{
  display: none;
}
.stake-table .table tr td .btn-main{
  font-size: 12px;
  font-weight: 600;
  width: 111px;
  height: 32px;
  margin: 0 auto;
  color: rgba(255,255,255,0.35);
  display: block;
  padding: 0px 20px;
  border: 2px solid #2a2e88;
  border-radius: 6px;
  background-color: transparent;
}
.stake-table .table tr td .btn-main:hover{
  border-color: #5d76ff;
  color: #fff;
  background-color: #5d76ff;
}

.stake-side-auction,
.stake-side-details{
  width: 100%;
  display: block;
  padding: 32px;
  border-radius: 20px;
  background-color: #171b6e;
  margin-bottom: 30px;
}
.stake-side-auction h4,
.stake-side-details h4{
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  margin: 0 0 20px;
}
.stake-side-auction p,
.stake-side-details p{
  font-size: 14px;
  font-weight: normal;
  color: #8d90c5;
  margin: 0 0 20px;
}
.stake-from-blk .btn-main,
.stake-side-details .btn-main{ 
  padding: 7px 10px;
  border-radius: 6px;
  background-color: #e95059;
}
.stake-from-blk .btn-main:hover,
.stake-side-details .btn-main:hover{
  background-color: #333;
}

.stake-side-auction{
  padding: 35px 40px 10px;
}
.stake-side-auction .accordion{
  margin-top: 0px;
}
.stake-side-auction .accordion .card{
  border: none;
  padding: 20px 0;
  border-bottom: 1px solid #2a2e88;
  margin-bottom: 0;
  background-color: transparent;
}
.stake-side-auction .accordion .card:last-child{
  border-bottom: none;
}
.stake-side-auction .accordion .card h2{
  background: url('../images/icons/arrow-up.png') no-repeat calc(100% - 10px) center;
  background-size: 8px;
  cursor: pointer;
  font-size: 14px;
  color: #5d76ff;
}
.stake-side-auction .accordion .card h2.collapsed{
  color: #8d90c5;
  background-image: url('../images/icons/arrow-down.png');
}
.stake-side-auction .accordion .card-body{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}


.dividends-wrapper{
  width: 100%;
  display: block;
  padding: 30px;
  border-radius: 20px;
  background-color: #171b6e;
}
.stake-from-head,
.dividends-footer,
.dividends-title{
  width: 100%;
  display: table;
  margin-bottom: 20px;
}
.stake-from-head h4,
.dividends-footer h4,
.dividends-title h4{
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  float: left;
  margin: 0;
}
.dividends-footer span,
.dividends-title span{
  float: right;
  color: #8d90c5;
  font-size: 14px;
}
.dividends-img,
.dividends-img{
  border-radius: 10px;
}
.dividends-img img,
.dividends-img img{
  width: 100%;
}

.dividends-footer{
  margin: 20px 0 0;
}
.dividends-footer h4{
  font-size: 14px;
}
.dividend_bx_row{
  width: 90%;
  margin: auto;
  margin-bottom: 80px;
}
.dividend_bx_row .stake-side-details{
  width: 65%;
  margin: auto;
}

.stake-active-table .stake-table,
.stake-bonus,
.stake-side-form{
  width: 100%;
  display: block;
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 20px;
  background-color: #171b6e;
}
.stake-from-head h4{
  line-height: 32px;
}
.stake-from-head .st-bal{
  float: right;
  font-size: 14px;
  font-weight: normal;
  color: #8d90c5;
  display: flex;
  align-items: center;
  margin: 0;
}
.stake-from-blk input::placeholder,
.stake-from-head .st-bal input::placeholder{
  color: #fff;
}
.stake-from-blk .from-control,
.stake-from-head .st-bal input{
  width: 73px;
  height: 32px;
  margin-left: 10px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  border: 2px solid #2a2e88;
  border-radius: 4px;
  padding: 10px;
  display: inline-flex;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.stake-from-blk .from-control:focus,
.stake-from-blk .from-control:hover,
.stake-from-head .st-bal input:focus,
.stake-from-head .st-bal input:hover{
  outline: none;
}

.stake-income{
  width: 100%;
  display: block;
  margin-top: 40px;
}

.stake-income .stake-side-form{
  margin-bottom: 20px;
}
.stake-income .stake-side-auction{
  padding: 60px 40px;
}

.stake-from-blk{
  width: 100%;
  display: block;
}
.stake-from-blk .from-group-blk{
  width: 100%;
  display: block;
}
.stake-from-blk .from-group{
  margin-bottom: 20px;
  position: relative;
}
.stake-from-blk label{
  font-size: 14px;
  font-weight: normal;
  color: #8d90c5;
  margin: 0 0 10px;
  display: block;
}
.stake-from-blk .from-control{
  width: 100%;
  margin: 0;
  display: block;
}
.stake-from-blk .fr-icon{
  position: absolute;
  top: 9px;
  right: 11px;
}
.stake-from-blk .stake-from-day{
  width: auto;
  display: table;
  margin: 0 auto;
}
.stake-from-blk .stake-from-day li{
  float: left;
}
.stake-from-blk .stake-from-day li{
  margin-right: 20px;
}
.stake-from-blk .stake-from-day li:last-child{
  margin: 0;
}
.stake-from-blk .stake-from-day li h4{
  font-size: 19px;
  font-weight: 600;
  color: #fff;
  margin: 0;
  text-align: center;
}
.stake-from-blk .stake-from-day li span{
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: #8d90c5;
}

.stake-bonus{
  min-height: 373px;
  margin-bottom: 20px;
}
.stake-bonus-head{
  width: 100%;
  display: table;
  margin-bottom: 40px;
}
.stake-bonus-head h4{
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  float: left;
  line-height: 32px;
  margin: 0;
}
.stake-bonus-head .btn-main{
  float: right;
  width: 169px;
  height: 32px;
  padding: 10px;
  background-color: transparent;
  border: 2px solid #2a2e88;
}
.stake-bonus-head .btn-main:hover{
  background-color: #5d76ff;
}

.stake-bonus-blk{
  width: 100%;
  display: block;
}
.stake-bonus-blk .row .col-md-4{
  display: flex;
  align-items: center;
  border-right: 2px solid #2a2e88;
}
.stake-bonus-blk .row .col-md-4:last-child{
  border-right: 0;
}

.stake-bonus-list{
  width: 100%;
  padding: 0 30px;
}
.stake-bonus-list ul{
  width: 100%;
  display: block;
}
.stake-bonus-list li{
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.stake-bonus-list li:last-child{
  margin-bottom: 0;
}
.stake-bonus-list li p{
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin: 0;
  display: table;
  width: 100%;
}
.stake-bonus-list li p span{
  color: #fff;
  margin-left: 20px;
  float: right;
}
.stake-bonus-list li.lr-color p{
  color: #8d90c5;
}
.stake-bonus-list li .greed{
  color: #85c460;
}
.stake-bonus-list li .red{
  color: #ff5d6f;
}

.stake-active-table{
  width: 100%;
  display: block;
}
.stake-active-table .stake-table{
  margin-bottom: 20px;
  padding: 20px 30px;
}
.stake-table-head{
  margin-bottom: 0px;
}
.stake-table-head .btn-ref{
  float: right;
}
.stake-active-table .stake-table .table>thead>tr>th{
  padding: 20px 14px;
  padding-top: 0;
  padding-bottom: 12px;
}
/*Inner Pages End*/
